.item {
  display: flex;
  align-items: center;
  list-style-type: none;
  min-width: 400px;
  gap: 8px;
  border-top: 1px solid black;
  margin-top: 16px;
  padding-top: 16px;
}

.name {
  width: 100%;
}

.done {
  text-decoration: line-through;
}
